body {
  font-family: Roboto, sans-serif;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
}
.logo .web {
  color: #2196f3;
}
.hero-title {
  font-family: Roboto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  font-family: Roboto;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button {
  font-family: Roboto;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero{

}
.nav-top{

}
.features-list{

}
.features-list .text{
    
}
.features-list .title{
    
}