:root {
  --theme-color: #2196f3;
  --title-color: #212121;
  --bgcolor-accent: #2f303a;
  --white-color: #ffffff;
  --text-color: #757575;
  --bgcolor2: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--theme-color);
}
.logo .footer {
  color: var(--white-color);
}

.hero-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button-hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.hero {
  background-color: var(--bgcolor-accent);
}
.nav-top {
}

.features-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-list .title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.comanda {
  background-color: var(--bgcolor2);
}
.comanda .title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.comanda .text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--bgcolor-accent);
}
.address {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
}

.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.gallery {
}
.gallery-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
